<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">
	<select id="list" resultType="MemberRes">
		select * from member
	</select>
	<select id="one" resultType="MemberRes" parameterType="string">
		select * from member where mem_id = #{memId}
	</select>
</mapper>