<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head('Board List')}">
</head>
<body>
<div class="header" th:insert="~{common/header :: topnav}"></div>
<section>
<h1>Board / List html</h1>
<div th:each="board: ${boardlist}">
	<div th:text="${board.boardId}"></div>
	<div th:text="${board.boardTitle}"></div>
	<div th:text="${board.boardContent}"></div>
</div>

<div th:each="board : ${ boardlist}">
	<div th:object="${board}">
		<div th:text="*{boardId}"></div>
		<div th:text="*{boardTitle}"></div>
		<div th:text="*{boardContent}"></div>
	</div>
</div>
</section>

</body>
</html>